/* footer {
  margin-top: 100px;
} */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 58px;
  color: white;
  text-align: center;
}
