<div class="row" style="margin-top: 150px">
  <div class="col-md-3"></div>
  <!-- {{registerCustomer.form.valid}} -->
  <!-- {{details|json}} -->

  <div
    class="col-md-6"
    style="background-color: lightgray; border-radius: 5px; padding: 15px"
  >
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <strong class="customer-registration-heading"
          >Register to Firm as Customer</strong
        >
      </div>
      <div class="col-md-3"></div>
    </div>

    <br />

    <div *ngIf="hasRegistrationError" class="alert alert-danger" role="alert">
      {{ registrationErrorMessage }}
    </div>
    <div
      *ngIf="hasAadhaarFileUploadError"
      class="alert alert-danger"
      role="alert"
    >
      {{ aadhaarFileUploadErrorMessage }}
    </div>
    <form (ngSubmit)="RegisterCustomer()" #registerCustomer="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fn">First name</label>
            <input
              type="text"
              class="form-control"
              id="fn"
              [(ngModel)]="details.FirstName"
              name="fn"
              #fn="ngModel"
              placeholder="First Name"
              required
            />
          </div>
          <div [hidden]="fn.valid || fn.pristine" class="alert alert-danger">
            First Name is required
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="ln">Last name</label>
            <input
              type="text"
              class="form-control"
              id="ln"
              [(ngModel)]="details.LastName"
              name="ln"
              #ln="ngModel"
              placeholder="Last Name"
              required
            />
          </div>
          <div
            *ngIf="ln.touched && ln.errors?.required"
            class="alert alert-danger"
          >
            Last Name is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="ftn">Father name</label>
            <input
              type="text"
              class="form-control"
              id="ftn"
              [(ngModel)]="details.FatherName"
              name="ftn"
              #ftn="ngModel"
              placeholder="Father Name"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="dob">Date of birth</label>
            <input
              type="date"
              class="form-control"
              id="dob"
              [(ngModel)]="details.DOB"
              name="dob"
              #dob="ngModel"
              dobValidator
              required
            />
          </div>
          <div
            *ngIf="dob.errors?.invaliddob && !dob.errors?.required"
            class="alert alert-danger"
          >
            You are not eligible . Should be minimum of 20 years .
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="pwd">Password</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              [(ngModel)]="details.Password"
              name="pwd"
              #pwd="ngModel"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="cpwd">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="cpwd"
              [(ngModel)]="details.CnfPwd"
              name="cpwd"
              #cpwd="ngModel"
              placeholder="Confirm Password"
              required
              passwordValidator="pwd"
            />
          </div>
          <div
            *ngIf="cpwd.errors?.required && cpwd.touched"
            class="alert alert-danger"
          >
            Confirm password is required.
          </div>
          <div
            *ngIf="cpwd.errors?.notEqual && !cpwd.errors?.required"
            class="alert alert-danger"
          >
            Password and Confirm Password do not match.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="aadhar">Aadhar number</label>
            <input
              type="text"
              class="form-control"
              id="aadhar"
              [(ngModel)]="details.AadhaarNumber"
              name="aadhar"
              #aadhar="ngModel"
              placeholder="Aadhar number"
              aadhaarValidator
              required
            />
          </div>
          <div
            *ngIf="aadhar.errors?.doNotMatch && !aadhar.errors?.required"
            class="alert alert-danger"
          >
            Please enter valid Aadhaar number(Aadhaar number contains only
            numbers)
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Select firm in which you want to register</label>
            <select
              class="form-control"
              name="fid"
              [(ngModel)]="details.FirmID"
              required
            >
              <option
                *ngFor="let firm of firmDropdownListItems"
                value="{{ firm.id }}"
              >
                {{ firm.name }} - {{ firm.id }}
              </option>
            </select>
          </div>
          <div *ngIf="isDropdownError" class="alert alert-danger">
            {{ dropdownErrorMessage }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Upload your Aadhaar card photo copy</label>
            <input
              type="file"
              class="form-control"
              id="aadhaar-upload"
              name="aadhaarImage"
              [(ngModel)]="details.AadhaarImage"
              accept=".png"
              (change)="handleFileInput($event.target.files)"
              required
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Email ID</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="details.EmailID"
              placeholder="EmailID"
              #email="ngModel"
              emailValidator
              required
            />
          </div>
          <div
            *ngIf="email.touched && email.errors?.required"
            class="alert alert-danger"
          >
            EmailID is required
          </div>
          <div
            *ngIf="email.errors?.notValid && !email.errors?.required"
            class="alert alert-danger"
          >
            EmailID is not in Valid format.
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!registerCustomer.form.valid"
          >
            Register to firm
          </button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
