<div class="container-fluid">
  <div class="row breadcrumb">
    <div class="col-md-4">
        <div class="form-group">
          <label for="fn">First name</label>
          <input type="text" class="form-control" id="fn" required>
        </div>
        <div class="form-group">
          <label for="fn">First name</label>
          <input type="text" class="form-control" id="fn" required>
        </div>
        <div class="form-group">
          <label for="fn">First name</label>
          <input type="text" class="form-control" id="fn" required>
        </div>
        <div class="form-group">
          <label for="fn">First name</label>
          <input type="text" class="form-control" id="fn" required>
        </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="fn">First name</label>
        <input type="text" class="form-control" id="fn" required>
      </div>
      <div class="form-group">
        <label for="fn">First name</label>
        <input type="text" class="form-control" id="fn" required>
      </div>
      <div class="form-group">
        <label for="fn">First name</label>
        <input type="text" class="form-control" id="fn" required>
      </div>
      <div class="form-group">
        <label for="fn">First name</label>
        <input type="text" class="form-control" id="fn" required>
      </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="fn">First name</label>
      <input type="text" class="form-control" id="fn" required>
    </div>
    <div class="form-group">
      <label for="fn">First name</label>
      <input type="text" class="form-control" id="fn" required>
    </div>
    <div class="form-group">
      <label for="fn">First name</label>
      <input type="text" class="form-control" id="fn" required>
    </div>
    <div class="form-group">
      <label for="fn">First name</label>
      <input type="text" class="form-control" id="fn" required>
    </div>
</div>

  </div>
</div>
