<div class="container" id="registrationContainer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="breadcrumb flex-container">
        <button
          routerLink="register-firm"
          type="button"
          class="btn btn-primary btn-lg btn-block"
        >
          Register your Firm
        </button>
        <span>OR</span>
        <button
          routerLink="login"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
        >
          Login to your Firm
        </button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="breadcrumb flex-container">
        <button
          routerLink="register-customer"
          type="button"
          class="btn btn-primary btn-lg btn-block"
        >
          Register as Customer
        </button>
        <span>OR</span>
        <button
          routerLink="customer-login"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
        >
          Login as Customer
        </button>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
