<div class="container" id="loginContainer">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="breadcrumb">
        <div class="container">
          <h2>Login to your Firm</h2>
          <div
            *ngIf="loginErrorMessage"
            class="alert alert-danger"
            role="alert"
          >
            {{ loginErrorMessage }}
          </div>
          <form
            (ngSubmit)="LoginFirm(loginFirmForm.value)"
            #loginFirmForm="ngForm"
          >
            <div class="form-group">
              <label for="Id">Firm ID</label>
              <input
                type="text"
                class="form-control"
                id="Id"
                name="Id"
                maxlength="4"
                pattern="[0-9]+"
                placeholder="Please enter 4 digit Firm ID!"
                ngModel
                required
              />
              <!-- <div
                [hidden]="loginFirmForm.controls['Id'].valid || loginFirmForm.controls['Id'].pristine"
                class="alert alert-danger"
              >
                Firm ID is required
              </div> -->
            </div>

            <div class="form-group">
              <label for="Id">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Please enter your password"
                ngModel
                required
              />
              <!-- <div
                  [hidden]="loginFirmForm.controls['password'].valid || loginFirmForm.controls['password'].pristine"
                  class="alert alert-danger"
                >
                  Password is required
                </div> -->
            </div>


            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!loginFirmForm.form.valid"
                  >
                  Login
                </button>
               </div>
               <div class="col-md-4"></div>

             </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
