mat-sidenav-container {
    height: 862px;
}

mat-sidenav,
mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: #343a40;
    width: 250px;
}

.selected-anchor-tag {
    background-color: darkgray;
    border-radius: 5px;
}

a {
    padding: 10px;
    color: white;
}

button {
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

.profile-userpic img {
    float: none;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-left: 25%;
}

.profile-usertitle-name {
    color: #5b9bd1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}