<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened" style="color: white;">
        <div class="profile-userpic">
            <img src="../../assets/images/drj.jpg" class="img-responsive" alt="">
        </div>
        <br>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Dheeraj Thodupunuri
            </div>
            <div class="profile-usertitle-job">
                Firm ID - {{firmId}}
            </div>
        </div>

        <br>

        <a routerLink="dashboard" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-tachometer fa-lg" aria-hidden="true">&nbsp; &nbsp;Dashboard</i>
        </a>
        <br><br>
        <a routerLink="customers-list" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-list-ul fa-lg"> &nbsp; &nbsp;List of Customers </i>
        </a>
        <br><br>
        <a routerLink="create-customer" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-plus fa-lg">&nbsp; &nbsp;Create Customer</i>
        </a>
        <br><br>
        <a routerLink="create-agreement" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-plus fa-lg">&nbsp; &nbsp;Create Agreement</i>
        </a>
        <br><br>
        <a routerLink="loan-types" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-list-ul fa-lg">&nbsp; &nbsp; Loan Types</i>
        </a>
        <br><br>
        <a routerLink="owner-settings" routerLinkActive="selected-anchor-tag">
            <i class="fa fa-user fa-lg">&nbsp; &nbsp; Profile</i>
        </a>

    </mat-sidenav>
    <mat-sidenav-content>
        <button class="btn btn-primary" #toggleButton (click)="onSideNavClick($event.target)">Open Menu</button>
        <br><br>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>