<div class="row">
  <div class="col-md-2 col-sm-12">
    <div class="sidenav">
      <a routerLink="dashboard" routerLinkActive="selected-anchor-tag">
        <i class="fa fa-tachometer fa-lg" aria-hidden="true"
          >&nbsp; &nbsp;Dashboard</i
        >
      </a>

      <a routerLink="customers-list" routerLinkActive="selected-anchor-tag">
        <i class="fa fa-list-ul fa-lg"> &nbsp; &nbsp;List of Customers </i>
      </a>

      <a routerLink="create-customer" routerLinkActive="selected-anchor-tag">
        <i class="fa fa-plus fa-lg">&nbsp; &nbsp;Create Customer</i>
      </a>

      <a routerLink="create-agreement" routerLinkActive="selected-anchor-tag">
        <i class="fa fa-plus fa-lg">&nbsp; &nbsp;Create Agreement</i>
      </a>

      <a routerLink="loan-types" routerLinkActive="selected-anchor-tag">
        <i class="fa fa-list-ul fa-lg">&nbsp; &nbsp; Loan Types</i>
      </a>
    </div>
  </div>
  <div class="col-md-10 col-sm-12">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
